.page {
    max-width: 1100px;
    margin: 50px auto;  
    padding: 20px;  
    box-sizing: border-box;  
}
.header-container {
    text-align: center; 
}

.header-container img {
    width: 900px;       
    margin-bottom: 10px; 
}


h1 {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}


h2 {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

strong{
    color: rgb(95, 86, 227);
  }

  b{
    color: rgb(97, 99, 245);
  }
  
.title-desc-text {
    color: #777777; 
    font-size: 1em; 
    text-align: center;
}



.section-2 {
    display: flex;
    align-items: start; 
    justify-content: space-between; 
    gap: 20px;
}

.map-text {
    flex: 1; 
    padding: 10px;
}

.section-3 {
    display: flex;
    align-items: start;
    justify-content: space-between; 
    gap: 20px; 
}

.line-text {
    flex: 1; 
    padding: 10px; 
}

.graphs-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;  
}

.graph-container {
    flex: 1;
    padding: 10px;  
    display: flex;
    flex-direction: column;
    align-items: center; 
}

footer {
    font-size: 12px;
    color: #666;
    text-align: center;
    padding: 20px 0;
    background-color: #f9f9f9;
}

